{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Insighter: LSTM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
<!---heading-->
<div class="upper-section lstm-upper">
  <h1><i class="bi bi-clock-history"></i> LSTM</h1>
</div>
<div class="lower-section">
    <div class="main-content">
        <div class="left-section">
            <div class="form-container">
                <form id="stockForm" action="{% url 'lstm_prediction' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="stockCode" class="input-label">Enter the stock code：</label>
                        <label>
                            <input type="text" name="stock_code" class="input-field" required>
                        </label>
                    </div>
                    <div class="input-group">
                        <label for="year" class="input-label">Years of historical data:</label>
                        <label>
                            <input type="number" name="years" class="input-field" min="2" max="20" step="1" required>
                        </label>
                    </div>
                     <div class="input-group">
                        <label for="lookback" class="input-label">Look back n trading days:</label>
                        <p class="notice">n ∈ [1, 100]</p>
                        <label>
                            <input type="number" name="lookback" class="input-field" min="1" max="100" step="1"
                                   required>
                        </label>
                    </div>

                    <div class="input-group">
                        <label for="days" class="input-label">Predict nth trading days:</label>
                        <p class="notice">n <= n of lookback, 1 means the next trading day</p>
                        <label>
                            <input type="number" name="days" class="input-field" min="1" max="100" step="1" required>
                        </label>
                    </div>
                    <script src="{% static 'lookback.js' %}"></script>
                    <div class="input-group">
                        <label for="hidden_dim" class="input-label">* parameter hidden_dim:</label>
                            <p class="notice">default will be 32</p>
                        <label>
                            <input type="number" name="hidden_dim" class="input-field">
                        </label>
                    </div>
                    <div class="input-group">
                        <label for="num_epochs" class="input-label">* parameter num_epochs:</label>
                            <p class="notice">default will be 100</p>
                        <label>
                            <input type="number" name="num_epochs" class="input-field">
                        </label>
                    </div>
                    <button type="submit" class="submit-button lstm-button">Submit</button>
                </form>
                <div class="result-message">
                    {% if result %}
                        <p>{{ result }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="center-section">
            <div class="result-container">
                <h2>ROC Curve of Test Set</h2>
                <p class="notice">test set is three-tenths of the 5-year historical data</p>
                <div class="stockChartContainer">
                    <canvas id="rocChart"></canvas>
                    <script>
                        var fprString = '{{ json_fpr|safe }}';
                        var tprString = '{{ json_tpr|safe }}';
                        var fpr = JSON.parse(fprString);
                        var tpr = JSON.parse(tprString);
                        console.log(fpr);
                        console.log(tpr);
                        var roc_auc = {{ roc_auc }};
                    </script>
                    <script src="{% static 'js/drawROC.js' %}"></script>
                </div>
            </div>
        </div>
        <div class="right-section">
            <div class="result-section">
                <h2>Prediction Result:</h2>
                <div class="prediction-container">
                    {% if pred is not None %}
                        {% if pred == 1 %}
                            <p class="prediction-value">Predictions based on the LSTM model，{{ stock_code }} will go <span class="go_up">UP</span> on
                                the {{ days }}th trading days</p>
                        {% else %}
                            <p class="prediction-value">Predictions based on the LSTM model，{{ stock_code }} will go <span class="go_down">DOWN</span> on
                                the {{ days }}th trading days</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="classification-report">
                    <h2>Classification Report of Test Set:</h2>
                    <div class="chart-container">
                        <div id="report">
                            <table class="report-table">
                                {% for line in report %}
                                    <tr>
                                        {% if forloop.counter == 1 %}
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        {% endif %}
                                        {% if forloop.counter > 1 and forloop.counter < 7 %}
                                            <td>&nbsp;</td>
                                        {% endif %}
                                        {% for value in line %}
                                            {% if forloop.parentloop.counter == 6 and forloop.counter == 2 %}
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>{{ value|default_if_none:" " }}</td>
                                            {% else %}
                                                <td>{{ value|default_if_none:" " }}</td>
                                            {% endif %}

                                        {% endfor %}

                                    </tr>
                                {% endfor %}
                            </table>

                        </div>

                    </div>

                </div>
                <p>Note: Forecast results are for reference only, the stock market is risky, investment should be
                    cautious!</p>

                <h2>What's more</h2>
                <p>You can also try <a href="{% url 'svc' %}">SVM Model</a></p>
                <p>Or <a href="{% url 'random_forest' %}">Random Forest Model</a></p>
                <p>Back to <a href="{% url 'homepage' %}">Homepage</a></p>

            </div>
        </div>
    </div>
</div>
</body>
</html>